.arc text {
  font: 11px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.arc2 text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc2 path {
  stroke: #fff;
}
.center{
  margin:auto;
  alignment: center;
  width:1366px;
}

.svg-div{
  display: inline-block;
  margin: 0 auto;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}
.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
video#myVideo{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.5;



}

